<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiebao.platfrom.railway.dao.FileMapper">



    <update id="updateByIds">
            UPDATE rail_file r SET r.pid = 'fc1a198f11198e91c593723c6a51ac97' WHERE r.pid = #{parentsId}
    </update>
</mapper>