<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiebao.platfrom.railway.dao.PrizeMapper">

    <select id="countRelease" resultType="Map">


        SELECT DISTINCT
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='长沙市'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'changsha',
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='常德市'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'changde',
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='衡阳市'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'hengyang',
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='邵阳市'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'shaoyang',
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='株洲市'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'zhuzhou',
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='湘潭市'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'xiangtan',
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='岳阳市'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'yueyang',
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='张家界市'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'zhangjiajie',
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='益阳市'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'yiyang',
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='郴州市'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'chenzhou',
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='永州市'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'yongzhou',
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='怀化市'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'huaihua',
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='娄底市'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'loudi',
        (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='湘西州'
        <if test="startTime != null">
            and date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
        </if>
        <if test="status != null">
            and status =#{status}
        </if>
        and status != 1
        ) as 'xiangxi'
        from rail_prize
    </select>


    <select id="countMoney" resultType="Map">
       select A.city as dept_name,ifnull(NUMB,0) AS money
    from (SELECT DISTINCT c.city ,c.id  FROM sys_city c ) A
    LEFT JOIN
    (select SUBSTRING_INDEX(r.place,',',1) AS TT ,SUM(o.money) as NUMB FROM `rail_prize`  r ,rail_prize_opinion o
    WHERE r.id=o.prize_id  and o.rank = 0
        <if test="startTime != null">
            and  r.happen_time >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= r.happen_time
        </if>
    group by SUBSTRING_INDEX(r.place,',',1)) B
    on A.city = B.TT ORDER BY A.id
    </select>


    <select id="countType" resultType="Map">
        SELECT COUNT(1) as count,a.types as types FROM rail_prize a
        <if test="startTime != null">
            WHERE a.release_time >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= a.release_time
        </if>
        and a.status = 8
        GROUP BY a.types
    </select>




    <select id="countPrizeForCity" resultType="Map">


        select A.dept_name,ifnull(NUMB,0) AS count
        from (SELECT DISTINCT c.dept_name,c.dept_id  FROM sys_dept c WHERE parent_id = #{deptId}   ) A
        LEFT JOIN
        (select substring_index(substring_index(r.place,',',-2),',',1) AS TT ,count(1) as NUMB FROM `rail_prize`  r
        <if test="startTime != null">
            where  r.happen_time >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= r.happen_time
        </if>
        group by substring_index(substring_index(r.place,',',-2),',',1)) B
        on A.dept_name = B.TT ORDER BY A.dept_id
    </select>


    <select id="countPrizeForCityDone" resultType="Map">


        select A.dept_name,ifnull(NUMB,0) AS count
        from (SELECT DISTINCT c.dept_name,c.dept_id  FROM sys_dept c WHERE parent_id = #{deptId}   ) A
        LEFT JOIN
        (select substring_index(substring_index(r.place,',',-2),',',1) AS TT ,count(1) as NUMB FROM `rail_prize`  r
        <if test="startTime != null">
            where  r.happen_time >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= r.happen_time
        </if>
        and r.status = 8
        group by substring_index(substring_index(r.place,',',-2),',',1)) B
        on A.dept_name = B.TT ORDER BY A.dept_id
    </select>



    <select id="countPrizeForArea" resultType="Map">
		  select A.dept_name,ifnull(NUMB,0) AS count
    from (SELECT DISTINCT c.dept_name,c.dept_id  FROM sys_dept c WHERE parent_id = #{deptId} ) A
    LEFT JOIN
    (select substring_index(substring_index(r.place,',',-1),',',3) AS TT ,count(1) as NUMB FROM `rail_prize`  r

        <if test="startTime != null">
            where  r.happen_time >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= r.happen_time
        </if>
    group by substring_index(substring_index(r.place,',',-1),',',3)) B

    on A.dept_name = B.TT ORDER BY A.dept_id
    </select>


    <select id="countPrizeForAreaDone" resultType="Map">
        select A.dept_name,ifnull(NUMB,0) AS count
        from (SELECT DISTINCT c.dept_name,c.dept_id  FROM sys_dept c WHERE parent_id = #{deptId} ) A
        LEFT JOIN
        (select substring_index(substring_index(r.place,',',-1),',',3) AS TT ,count(1) as NUMB FROM `rail_prize`  r

        <if test="startTime != null">
            where  r.happen_time >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= r.happen_time
        </if>
        and r.status = 8
        group by substring_index(substring_index(r.place,',',-1),',',3)) B
        on A.dept_name = B.TT ORDER BY A.dept_id
    </select>



    <select id="countMoneyForCity" resultType="Map">

        select A.dept_name,ifnull(NUMB,0) AS money
        from (SELECT DISTINCT c.dept_name ,c.dept_id  FROM sys_dept c WHERE parent_id = #{deptId} ) A
        LEFT JOIN
        (select substring_index(substring_index(r.place,',',-2),',',1) AS TT ,SUM(o.money) as NUMB FROM `rail_prize`  r ,rail_prize_opinion o
        WHERE r.id=o.prize_id  and o.rank = 0
        <if test="startTime != null">
            and r.release_time >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= r.release_time
        </if>
        group by substring_index(substring_index(r.place,',',-2),',',1) ) B
        on A.dept_name = B.TT ORDER BY A.dept_id
    </select>


    <select id="countMoneyForArea" resultType="Map">
        select A.dept_name,ifnull(NUMB,0) AS money
        from (SELECT DISTINCT c.dept_name ,c.dept_id  FROM sys_dept c WHERE parent_id = #{deptId} ) A
        LEFT JOIN
        (select substring_index(substring_index(r.place,',',-1),',',3) AS TT ,SUM(o.money) as NUMB FROM `rail_prize`  r ,rail_prize_opinion o
        WHERE r.id=o.prize_id  and o.rank = 0
        <if test="startTime != null">
            and r.release_time >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= r.release_time
        </if>
        group by substring_index(substring_index(r.place,',',-1),',',3) ) B
        on A.dept_name = B.TT ORDER BY A.dept_id
    </select>



    <select id="countTypeForCity" resultType="Map">
        SELECT COUNT(1) as count,a.types as types FROM rail_prize a
        <if test="startTime != null">
            WHERE a.release_time >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= a.release_time
        </if>
        and a.status = 8 and a.place_ids = #{deptId}
        GROUP BY a.types
    </select>


    <select id="countTypeForArea" resultType="Map">
        SELECT COUNT(1) as count,a.types as types FROM rail_prize a
        <if test="startTime != null">
            WHERE a.release_time >= #{startTime}
        </if>
        <if test="endTime !=null">
            and #{endTime} >= a.release_time
        </if>
        and a.status = 8 and a.place_idq = #{deptId}
        GROUP BY a.types
    </select>



</mapper>
