<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiebao.platfrom.railway.dao.PrizeMapper">

    <select id="countRelease" resultType="Map">


		SELECT   DISTINCT
			(SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='长沙市'
                <if test="startTime != null" >
                 and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
                </if>
                <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
                </if>
                <if test="status != null">
                and status =#{status}
                </if>
			) as 'changsha',
			(SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='常德市'
            <if test="startTime != null" >
                and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
            </if>
            <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
			) as 'changde',
			(SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='衡阳市'
            <if test="startTime != null" >
                and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
            </if>
            <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
			) as 'hengyang',
			(SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='邵阳市'
            <if test="startTime != null" >
                and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
            </if>
            <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
			) as 'shaoyang',
            (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='株洲市'
            <if test="startTime != null" >
                and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
            </if>
            <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
            ) as 'zhuzhou',
            (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='湘潭市'
            <if test="startTime != null" >
                and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
            </if>
            <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
            ) as 'xiangtan',
            (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='岳阳市'
            <if test="startTime != null" >
                and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
            </if>
            <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
            ) as 'yueyang',
            (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='张家界市'
            <if test="startTime != null" >
                and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
            </if>
            <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
            ) as 'zhangjiajie',
            (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='益阳市'
            <if test="startTime != null" >
                and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
            </if>
            <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
            ) as 'yiyang',
            (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='郴州市'
            <if test="startTime != null" >
                and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
            </if>
            <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
            ) as 'chenzhou',
            (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='永州市'
            <if test="startTime != null" >
                and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
            </if>
            <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
            ) as 'yongzhou',
            (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='怀化市'
            <if test="startTime != null" >
                and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
            </if>
            <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
            ) as 'huaihua',
            (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='娄底市'
            <if test="startTime != null" >
                and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
            </if>
            <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
            ) as 'loudi',
            (SELECT count(*) FROM `rail_prize` WHERE SUBSTRING_INDEX(place,',',1) ='湘西州'
            <if test="startTime != null" >
                and  date_format(release_time ,'%Y-%m-%d' ) >= #{startTime}
            </if>
            <if test="endTime !=null">
                and  #{endTime} >= date_format(release_time ,'%Y-%m-%d' )
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
            ) as 'xiangxi'
			from  rail_prize
	</select>

</mapper>
